#!/bin/bash
{% if host == "janus" %}#SBATCH -J {{ J }}
#SBATCH --time={{ hours }}:00:00
#SBATCH -N {{ nodes }}
#SBATCH --ntasks-per-node {{ nntasks_per_node }}
#SBATCH -o {{ logname }}-%j.out
#SBATCH -e {{ logname }}-%j.err
#SBATCH --qos {{ queue }}
{% if nodes == 1 %}#SBATCH --reservation=janus-serial {% endif %}

# Load important modules and ensure environemnt variables are correctly set up

module load python/anaconda-2.1.0
module load intel/impi-15.0.1

echo $SLURM_JOB_NODELIST

{% elif host == "psiops" %}#PBS -l nodes={{ nodes }}:ppn={{ nntasks_per_node }}:{{ connection }} -q batch -l walltime={{ hours }}:00:00
#PBS -k eo -m n -e $PBS_O_WORKDIR/{{ logname }}-$PBS_JOBID.out -o $PBS_O_WORKDIR/{{ logname }}-$PBS_JOBID.out

# Header for script adds nodes list from PBS
cd $PBS_O_WORKDIR
NODES=`cat $PBS_NODEFILE | tr "\n" " "`
for node in $NODES; do
     echo $node >> $PBS_O_WORKDIR/machines
done

echo "PBS_JOBID: $PBS_JOBID" 1>>$PBS_O_WORKDIR/qperr
echo "Nodes: $NODES" 1>>$PBS_O_WORKDIR/qperr
echo "USER: $USER" 1>>$PBS_O_WORKDIR/qperr
echo "PBS_O_WORKDIR: $PBS_O_WORKDIR" 1>>$PBS_O_WORKDIR/qperr

# Get start time
stime=`date +%s`

# This sets environment variables
PATH=/home/apps/anaconda/2.3.0/bin/:/usr/lib64/qt-3.3/bin:/usr/kerberos/sbin:/usr/kerberos/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/X11R6/bin:/root/bin:/usr/share/pvm3/lib:/usr/share/pvm3/lib:/opt/intel/Compiler/11.1/064/bin/intel64/:/home/dummy/open_mpi_intel/openmpi-1.6/bin
export PATH
LD_LIBRARY_PATH=/opt/intel/Compiler/11.1/064/lib/intel64/:/home/dummy/open_mpi_intel/openmpi-1.6/lib:/opt/intel/Compiler/11.1/064/mkl/lib/em64t
export LD_LIBRARY_PATH
PYTHONPATH=~/usr/bin/VTST-Tools:$PYTHONPATH

{% elif host == "rapunzel" %}#SBATCH -J {{ J }}
#SBATCH --time={{ hours }}:00:00
#SBATCH -N {{ nodes }}
#SBATCH --ntasks-per-node {{ nntasks_per_node }}
#SBATCH -o {{ logname }}-%j.out
#SBATCH -e {{ logname }}-%j.err
#SBATCH --mem={{ mem }}
#SBATCH --workdir={{ currdir }}

echo $SLURM_JOB_NODELIST

LD_LIBRARY_PATH=/export/home/apps/compile/gcc.5.1.0/lib64:/opt/openmpi/lib:/opt/python/lib


{% elif host == "peregrine" %}#SBATCH -J {{ J }}
#PBS -j eo
#PBS -l nodes={{ nodes }}:ppn={{ nntasks_per_node }}
#PBS -l walltime={{ hours }}:00:00
#PBS -q {{ queue }}
#PBS -N {{ logname }}
#PBS -A {{ account }}

# Load important modules and ensure environemnt variables are correctly set up

module purge
module load vasp
module load python/2.7.8


echo $SLURM_JOB_NODELIST
{% endif %}

export VASP_KPTS={{ vasp_tst_kpts }}
export VASP_GAMMA={{ vasp_tst_gamma }}
export OMP_NUM_THREADS=1
export VASP_SCRIPT={{ VASP_SCRIPT }}
export VASP_NCORE={{ nntasks_per_node }}
export VASP_PROCS={{ tasks }}
export VASP_PP_PATH={{ VASP_PP_PATH }}
./gfstringq.exe {{ iteration }} {{ tasks }} > scratch/paragsm0000

exit 0